<!-- movies/movie_update_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Movie</title>
</head>
<body>
    <h1>Update Movie</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ movie.title }}"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ movie.description }}</textarea><br>
        <label for="director">Director:</label><br>
        <input type="text" id="director" name="director" value="{{ movie.director }}"><br>
        <label for="release_year">Release Year:</label><br>
        <input type="text" id="release_year" name="release_year" value="{{ movie.release_year }}"><br>
        <label for="budget">Budget:</label><br>
        <input type="text" id="budget" name="budget" value="{{ movie.budget }}"><br>
        <label for="runtime">Runtime:</label><br>
        <input type="text" id="runtime" name="runtime" value="{{ movie.runtime }}"><br>
        <label for="rating">Rating:</label><br>
        <input type="text" id="rating" name="rating" value="{{ movie.rating }}"><br>
        <label for="genre">Genre:</label><br>
        <input type="text" id="genre" name="genre" value="{{ movie.genre }}"><br>
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
